FLIGHT_DATABASE_PATH=/home/b000gdan/ecm/data/flights.duckdb
FLIGHT_DATABASE_MODE=quack
QUACK_LISTEN_URI=quack:127.0.0.1:9494
FLIGHT_QUACK_URL=quack:127.0.0.1:9494
QUACK_TOKEN_FILE=/etc/ecm/quack.token
DUCKDB_EXTENSION_DIRECTORY=/home/b000gdan/.duckdb/extensions
